/* Basic styles for the gallery layout */
.gallery {
    margin: 50px 50px;
	display: inline-flex;
}

.gallery img{
	transition: 1s;
	padding: 15px;
	width: auto;
	height: 300px;
}

.gallery img:hover {
	filter: grayscale(100%);
	transform: scale(1.1);
}


.header {
	align-content: center;
	margin: 20px 20px;
}

.header h1 {
	text-align: center;
}



.footer {
	align-content: center;
	margin: 20px 20px;
}

.footer h3 {
	text-align: center;
}