/* Basic styles for the gallery layout */
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

@media screen and (max-width: 768px) {
    .image-container {
        width: calc(100% - 20px);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .image-container {
        width: calc(50% - 10px);
    }
}

.dark-mode {
  background-color: #191919;
  color: #fff;
}


.gallery {
    margin: 50px 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 5px;
}

.gallery img{
	transition: 1s;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	flex-grow: 1;
	width: 100%;
	margin: 20;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.image-container {
    width: calc(50% - 10px); /* Adjust the width and spacing as needed */
    margin-bottom: 20px;
    box-sizing: border-box;
}

.gallery img:hover {
	filter: grayscale(100%);
	transform: scale(1.1);
}

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(72, 72, 72, 0.99) 32%, rgba(190,190,190,0.99) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:22vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:.25vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

/*
.header {
	align-content: center;
	margin: 10px 20px;
	margin-bottom: 5px;
	background-color: #535151;
	color: #fff;
	box-shadow: active;
}

.header h1 {
	text-align: center;
	margin-bottom: 3px;
}

.header div button {
	
    background-color: #484848;
    color: #D1D1D1;
    padding: 5px 10px;
	margin-left: 20px;
	margin-bottom: 5px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 2px;
}
*/

.gallery a {
	max-width: 200px;
}


.footer {
	position:relative;
	text-align:center;
	background: linear-gradient(60deg, rgba(72, 72, 72, 0.99) 32%, rgba(190,190,190,0.99) 100%);
	color:white;
}


.footerwaves {
  position:relative;
  width: 100%;
  height:10vh;
  scale: -10;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.footerTrans {
	transform:rotate(180deg);
}


.footer p {
	margin: 0;
}


body {
    position: relative;
}

#back-to-top-btn {
	align-content: center;
	position: absolute;
    bottom: 3.55%;
    left: 50%; 
    transform: translateX(-50%); 
    background-color: #535151;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#back-to-top-btn:hover {
    background-color: #333;
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #535151;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

