/* Basic styles for the gallery layout */
.gallery {
    margin: 10px 50px;
	display: flex;
}

.gallery img{
	transition: 1s;
	padding: 15px;
	width: 300px;
}

.gallery img:hover {
	filter: grayscale(100%);
	transform: scale(1.1);
}

